---
import Layout from '@/layouts/Layout.astro';
import Card from "@/components/Card.astro";

import Header from "@/sections/Header.astro";
import AboutMe from "@/sections/AboutMe.astro";
import WorkExperience from "@/sections/WorkExperience.astro";
import Stack from "@/sections/Stack.astro";
import Contact from "@/sections/Contact.astro";
---

<Layout title="Portfolio Unai Cadenas - Desarrollador full stack web">

	<!-- HEADER -->
	<Header />

	<div id="sobre-mi"></div>
	
	<div class="space-y-30 px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">

		<!-- Sobre mi mejorado -->
		<AboutMe />

		<!-- Experiencia laboral -->
		<div id="experiencia"></div>
		<WorkExperience />
		

		<div id="proyectos"></div>
		
		<!-- Proyectos -->
		<section>
			<div class="mb-20 flex flex-col justify-center items-center">
				<h1 class="text-4xl md:text-5xl font-bold text-white">Proyectos</h1>
				<div class="mt-4 h-1 w-20 bg-(--primary-color)"></div>
			</div>
			<!--
			<h1 class="text-5xl mb-20 font-bold text-(--primary-color) text-center">Proyectos</h1>
			-->
			<div class="flex gap-16">
				<Card />
				<Card />
				<Card />
			</div>
		</section>

		<!-- Stack Tecnologico -->
		<div id="stack"></div>
		<Stack />

		<!-- Contacto -->
		<div id="contacto"></div>
		<Contact />

	</div>

</Layout>
