---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Unai Cadenas | Portfolio">

	<!-- HEADER -->
	<div class="mt-60">
		<div class="px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">
			<div class="h-full flex flex-col justify-center items-center text-center">
				<h1 class="text-6xl text-white">Hi, I am Unai Cadenas</h1>
				<h4 class="text-4xl text-green-200 mt-10">Full Stack Web Developer</h4>
			</div>
		</div>
	</div>

</Layout>
