---
import Layout from '@/layouts/Layout.astro';

import Header from "@/sections/Header.astro";
import AboutMe from "@/sections/AboutMe.astro";
import WorkExperience from "@/sections/WorkExperience.astro";
import Projects from "@/sections/Projects.astro";
import Stack from "@/sections/Stack.astro";
import Contact from "@/sections/Contact.astro";
---

<Layout title="Portfolio Unai Cadenas - Desarrollador full stack web">

	<!-- HEADER -->
	<Header />

	<div id="sobre-mi"></div>
	
	<div class="space-y-30 px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">

		<!-- Sobre mi mejorado -->
		<AboutMe />

		<!-- Experiencia laboral -->
		<div id="experiencia"></div>
		<WorkExperience />
		
		<!-- Proyectos -->
		<div id="proyectos"></div>
		<Projects />

		<!-- Stack Tecnologico -->
		<div id="stack"></div>
		<Stack />

		<!-- Contacto -->
		<div id="contacto"></div>
		<Contact />

	</div>

</Layout>
