---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Unai Cadenas | Portfolio">

	<!-- HEADER -->
	<div class="mt-60">
		<div class="px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">
			<div class="h-full flex flex-col justify-center items-center text-center">
				<h1 class="text-6xl text-white">👋 Hi, I am Unai Cadenas</h1>
				<h4 class="text-2xl text-green-200 mt-5">Full Stack Web Developer</h4>
			</div>
		</div>
	</div>

	<!-- Sobre mi -->
	<section class="px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat facilis ea dolorem consequuntur repudiandae accusantium, labore magni ullam velit, ipsum voluptatibus temporibus porro atque pariatur. Eveniet nisi modi eius iure.</p>
	</section>

	<!-- Proyectos -->

	<div class="mt-40"></div>

	<!-- Stack Tecnologico -->
	 <section class="px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis eaque numquam minus consectetur itaque, at quisquam doloribus illo officiis esse quam repudiandae sunt rem unde ipsum excepturi voluptatibus provident accusamus!</p>
	 </section>

	 <div class="mt-40"></div>

</Layout>
