---
interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props;
---

<div class="bg-white dark:bg-gray-800 ring ring-gray-900/5 rounded-2xl shadow-xl">
    <div>
        <img src="#" alt="img" class="bg-gray-400 h-40 w-full rounded-t-2xl">
    </div>
    <div class="px-6 py-4">
        <h4 class="text-gray-900 dark:text-white text-2xl font-bold mb-4">{title}</h4>
        <p class="text-gray-500 dark:text-gray-400 mb-4">{description}</p>
    </div>
</div>
