---

---

<div class="border border-gray-400 rounded-2xl p-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat facilis ea
        dolorem consequuntur repudiandae accusantium, labore magni ullam velit,
        ipsum voluptatibus temporibus porro atque pariatur. Eveniet nisi
        modi eius iure.
    </p>
</div>