---

---

<div class="justify-between items-center gap-6">
    <time class="text-(--primary-color) dark:text-(--primary-color-dark) font-bold">Octubre 2023 - Actualidad</time>
    <div class="w-4 h-4 bg-(--primary-color) dark:bg-(--primary-color-dark) rounded-full"></div>
    <div class="max-w-2/3 bg-slate-50 dark:bg-white/5 px-6 py-4 rounded-2xl border-l-5 border-l-green-400 dark:border-l-green-400 border border-slate-200 dark:border-white/10">
        <h2 class="text-xl font-bold">Desarrollador web senior</h2>
        <h3 class="text-lg font-semibold mb-2">Ibermática / Ayesa</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio suscipit non delectus dignissimos! Esse blanditiis harum perferendis ex a ad delectus at dolores, doloribus aperiam dolorum omnis, veniam voluptatum eos.</p>
    </div>
</div>