---
const languages = [
  { code: 'es', label: 'Español' },
  { code: 'en', label: 'English' },
  { code: 'fr', label: 'Français' }
];
---

<div class="lang">
  <span>ES</span>
</div>

<style>

  .lang {
    background-color: grey;
    padding: 5px 8px 5px 8px;
    border-radius: 100%;
  }

</style>