---
const { className } = Astro.props;
---

<div class="flex flex-col justify-center items-center mb-20">
    <h2 class={`flex items-center text-4xl md:text-5xl font-bold tracking-tight gap-x-3 text-black/80 dark:text-white ${className ?? ""}`}>
        <slot />
    </h2>
    <div class="mt-4 h-1 w-20 bg-(--primary-color)"></div>
</div>
