---

---

<!-- Sobre mi -->
<section class="text-center">
	<div class="mb-20 flex flex-col justify-center items-center">
		<h1 class="text-4xl md:text-5xl font-bold text-white">Sobre mí</h1>
		<div class="mt-4 h-1 w-20 bg-(--primary-color)"></div>
	</div>
	<div class="flex flex-col md:flex-row justify-between items-center gap-16">
		<div class="text-left space-y-6">
			<p>
				Hola, soy Unai Cadenas, <span class="text-(--primary-color)">desarrollador web
				apasionado por crear experiencias digitales modernas, funcionales y visualmente
				atractivas</span>. Me especializo en transformar ideas en sitios web intuitivos,
				cuidando tanto la experiencia de usuario como los detalles técnicos que hay detrás
				de cada proyecto.
			</p>
			<p>
				Me gusta combinar <span class="text-(--primary-color)">desarrollo y diseño para
				construir interfaces limpias</span>, dinámicas y adaptadas a las necesidades de
				cada usuario. La creatividad es una parte fundamental de mi trabajo, ya que siempre
				busco nuevas formas de resolver problemas y aportar valor a través de soluciones
				digitales innovadoras.
			</p>
			<p>
				Disfruto explorando nuevas tecnologías, <span class="text-(--primary-color)">perfeccionando
				mis habilidades y afrontando nuevos retos que me permitan seguir creciendo como
				desarrollador</span>. Mi objetivo es crear productos web que no solo funcionen bien,
				sino que también transmitan una identidad visual sólida y memorable.
			</p>
		</div>
		<div>
			<span style="font-size: 200px;">👨‍💻</span>
			<!-- <img src="/" alt="img" height="100" width="400"> -->
		</div>
	</div>
</section>