---

---

<section>
	<div class="mb-20 flex flex-col justify-center items-center">
		<h1 class="text-4xl md:text-5xl font-bold text-white">Contacto</h1>
		<div class="mt-4 h-1 w-20 bg-(--primary-color)"></div>
	</div>
	<form>
		<div class="pb-6">
			<!-- Formulario -->
			<div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
				<!-- Nombre -->
				<div class="sm:col-span-3">
					<label for="first-name" class="block text-sm/6 font-medium text-white">Nombre</label>
					<div class="mt-2">
						<input id="first-name" type="text" name="first-name" autocomplete="given-name" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-(--primary-color) sm:text-sm/6" />
					</div>
				</div>
				<!-- Apellidos -->
				<div class="sm:col-span-3">
					<label for="last-name" class="block text-sm/6 font-medium text-white">Apellidos</label>
					<div class="mt-2">
						<input id="last-name" type="text" name="last-name" autocomplete="family-name" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-(--primary-color) sm:text-sm/6" />
					</div>
				</div>
				<!-- Email -->
				<div class="col-span-full">
					<label for="email" class="block text-sm/6 font-medium text-white">Email</label>
					<div class="mt-2">
						<input id="email" type="email" name="email" autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-(--primary-color) sm:text-sm/6" />
					</div>
				</div>
				<!-- Comentario -->
				<div class="col-span-full">
					<label for="about" class="block text-sm/6 font-medium text-white">Comentario</label>
					<div class="mt-2">
						<textarea id="about" name="about" rows="3" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-(--primary-color) sm:text-sm/6"></textarea>
					</div>
					<p class="mt-3 text-sm/6 text-gray-400">Mándame un correo o contáctame por Linkedin.</p>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="submit" class="rounded-full bg-(--primary-color) px-6 py-2 text-sm font-semibold text-black focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Enviar</button>
		</div>
	</form>
</section>