---
import ExperienceSection from "@/components/ExperienceSection.astro";

const Experiencias = [
    {
        title: "Técnico Helpdesk",
        company: "Ibermática / Ayesa",
        description: "Resolución y seguimiento de incidencias en cajeros automáticos, diagnóstico de problemas y coordinación con equipos especializados para asegurar la disponibilidad de la infraestructura.",
        date: "Octubre 2023 - Actualidad",
        current: true,
    },
    {
        title: "Prácticas Dual",
        company: "Ibermática / Ayesa",
        description: "Soporte técnico a farmacias, resolviendo incidencias relacionadas con la receta electrónica y asegurando el correcto funcionamiento del servicio.",
        date: "Junio 2018 - Junio 2019",
    },
]
---

<div class="w-full max-w-4xl mx-auto">
    <ol class="relative border-s-2 border-gray-300 space-y-10">
        {
            Experiencias.map((exp, i) => (
                <li>
                    <ExperienceSection {...exp} />
                </li>
            ))
        }
    </ol>
</div>
