---

---

<footer class="mt-20 mb-10 px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">
    <hr class="mb-10">
    <div class="flex justify-between items-center text-center">
        <span class="text-gray-400">
            &copy; {new Date().getFullYear()}
            Portfolio developed by Unai Cadenas. All rights reserved.
        </span>
        <div class="space-x-4">
            <!-- Linkieden y github icons -->
            <a href="/">Linkedin</a>
            <a href="/">GitHub</a>
        </div>
    </div>
</footer>
