---
import LinkedinIcon from "@/assets/icons/linkedin.svg";
import GithubIcon from "@/assets/icons/github.svg";
---

<footer class="mt-30 mb-10 px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">
    <hr class="mb-10">
    <div class="flex flex-col sm:flex-row justify-between items-center text-center gap-4">
        <span class="text-gray-400">
            &copy; {new Date().getFullYear()}
            Portfolio developed by Unai Cadenas. All rights reserved.
        </span>
        <div class="flex gap-4">
            <!-- Linkedin y GitHub -->
            <a href="/" target="_blank">
                <LinkedinIcon class="size-8 text-gray-400 hover:scale-110 transition" />
            </a>
            <a href="/" target="_blank">
                <GithubIcon class="size-8 text-gray-400 hover:scale-110 transition" />
            </a>
        </div>
    </div>
</footer>
