---
import LinkedinIcon from "@/assets/icons/linkedin.svg";
import GithubIcon from "@/assets/icons/github.svg";
---

<header class="h-screen">
    <div class="px-4 scroll-m-20 w-full mx-auto container lg:max-w-6xl md:max-w-4xl">
        <div class="h-screen flex justify-between items-center gap-20">
            <section>
                <h1 class="text-6xl text-white">👋 Hi, I am Unai Cadenas</h1>
                <h4 class="text-2xl text-green-200 mt-5">Full Stack Web Developer</h4>
                <p class="mt-8">Apasionado del desarrollo frontend. Disfruto creando interfaces simples, modernas y funcionales, cuidando la experiencia de usuario y el detalle visual.</p>
                <div class="mt-5 flex gap-6">
                    <a href="https://es.linkedin.com/in/unaicadenas" target="_blank">
                        <LinkedinIcon class="size-10 text-white hover:scale-110 transition" />
                    </a>
                    <a href="https://github.com/unaicadenas" target="_blank">
                        <GithubIcon class="size-10 text-white hover:scale-110 transition" />
                    </a>
                    <a href="/" class="border border-white px-6 py-2 rounded-full hover:scale-110 transition">
                        <span>Currículum</span>
                    </a>
                </div>
            </section>
            <!-- <section class="hidden md:flex">
                <img src="/" alt="Imagen posando">
            </section> -->
        </div>
    </div>
</header>

<style>

    header {
        background:
			radial-gradient(circle at center, rgba(34,197,94,0.4), transparent 80%),
			radial-gradient(circle at center, rgba(56,189,248,0.4), transparent 95%),
			linear-gradient(180deg, #020617, #0f172a);
    }

</style>