---
import LinkedinIcon from "@/assets/icons/linkedin.svg";
import GithubIcon from "@/assets/icons/github.svg";

import SocialButton from "@/components/SocialButton.astro";
---

<div class="h-[calc(100vh-100px)] flex flex-col md:flex-row gap-4">
    <!-- Left -->
    <div class="flex flex-col justify-center">
        <h2 class="text-2xl font-bold text-blue-500 mb-10">FULL STACK WEB & APP DEVELOPER</h2>
        <h1 class="font-bold text-gray-800 dark:text-gray-100">
            <!-- <span>Hi, I am</span><br> -->
            <span class="block text-3xl md:text-5xl mb-2">Hey, soy</span>
            <span class="block text-5xl md:text-7xl bg-linear-to-r from-[#0097B2] to-[#7ED957] bg-clip-text text-transparent">
                &gt; Unai Cadenas
            </span>
        </h1>
        <h4 class="text-xl mt-10 text-gray-700 dark:text-gray-200">
            Especializado en
            <span class="text-(--primary-color) dark:text-(--primary-color-dark) font-semibold">crear sitios web y apps modernos</span>,
            optimizados y adaptados a las necesidades de cada proyecto.
        </h4>
        <div class="flex flex-row gap-3 mt-5">
            <SocialButton href="https://es.linkedin.com/in/unaicadenas">
                <LinkedinIcon class="size-6" />
                <span class="font-semibold">LinkedIn</span>
            </SocialButton>
            <SocialButton href="https://github.com/unaicadenas">
                <GithubIcon class="size-6" />
                <span class="font-semibold">GitHub</span>
            </SocialButton>
        </div>
    </div>
    <!-- Right -->
    <div class="hidden md:flex justify-center items-center">
        <div class="relative min-w-120 h-full flex justify-end items-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 630 742"
                fill="none"
                class="absolute h-full w-full inset-0 -z-10 opacity-60 dark:opacity-40 blur-3xl"
            >
                <path
                    fill="#97A6FF"
                    d="M290 18 C312 18 334 24 355 29 C421 43 487 57 552 72 C586 80 604 93 604 123 L604 685 C604 708 592 721 574 723 L47 723 C33 723 24 717 25 702 L244 52 C252 30 268 18 290 18 Z"
                />
            </svg>
            <img
                class="relative h-125 z-10 object-contain mr-5 mask-[linear-gradient(black_80%,transparent)]"
                src="/header-image.webp"
                alt="Imagen portfolio"
            >
        </div>
    </div>
</div>
