---
import CardProject from "@/components/CardProject.astro";

const Proyectos = [
    {
        title: "Prueba",
        description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est ea a quas officiis odio, omnis, ipsam totam",
    },
    {
		title: "Prueba02",
        description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est ea a quas officiis odio, omnis, ipsam totam",
    },
	{
		title: "Prueba03",
        description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum est ea a quas officiis odio, omnis, ipsam totam",
    },
]
---

<div class="flex flex-col md:flex-row gap-16">
	{
		Proyectos.map((exp, i) => (
			<CardProject {...exp} />
		))
	}
</div>
