---
import CardBento from "@/components/CardBento.astro";
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

<div class="grid grid-cols-1 md:grid-cols-6 gap-4">

	<CardBento className="md:col-span-3" title="Frontend">
		<i class="devicon-html5-plain colored transition-transform hover:scale-110" title="HTML5"></i>
        <i class="devicon-css3-plain colored transition-transform hover:scale-110" title="CSS3"></i>
        <i class="devicon-javascript-plain colored transition-transform hover:scale-110" title="JavaScript"></i>
        <i class="devicon-typescript-plain colored transition-transform hover:scale-110" title="TypeScript"></i>
        <i class="devicon-react-original colored transition-transform hover:scale-110" title="React"></i>
        <i class="devicon-astro-plain colored transition-transform hover:scale-110" title="Astro"></i>
        <i class="devicon-tailwindcss-plain colored transition-transform hover:scale-110" title="Tailwind CSS"></i>
	</CardBento>

	<CardBento className="md:col-span-3" title="Backend">
		<i class="devicon-nodejs-plain colored transition-transform hover:scale-110" title="Node.js"></i>
		<i class="devicon-express-original transition-transform hover:scale-110" title="Express"></i>
		<i class="devicon-python-plain colored transition-transform hover:scale-110" title="Python"></i>
		<i class="devicon-java-plain colored transition-transform hover:scale-110" title="Java"></i>
	</CardBento>

	<CardBento className="md:col-span-2" title="Base de Datos">
		<i class="devicon-postgresql-plain colored transition-transform hover:scale-110" title="PostgreSQL"></i>
		<i class="devicon-mongodb-plain colored transition-transform hover:scale-110" title="MongoDB"></i>
		<i class="devicon-mysql-plain colored transition-transform hover:scale-110" title="MySQL"></i>
	</CardBento>

	<CardBento className="md:col-span-2" title="Herramientas">
		<i class="devicon-git-plain colored transition-transform hover:scale-110" title="Git"></i>
		<i class="devicon-github-original transition-transform hover:scale-110" title="GitHub"></i>
		<i class="devicon-docker-plain colored transition-transform hover:scale-110" title="Docker"></i>
	</CardBento>

	<CardBento className="md:col-span-2" title="Diseño">
		<i class="devicon-figma-plain colored transition-transform hover:scale-110" title="Figma"></i>
	</CardBento>

</div>
